{{> header}}
<title>Cental - Car Rent | Home</title>

{{> navbar}}
<!-- Carousel Start -->
{{!-- {{> hero}} --}}
{{> feature}}

{{> booking}}

{{> about}}

{{> car}}

{{> service}}

{{> testimonial}}

{{>footer}}