{{> header}}
<title>Cental - Car Rent | Home</title>

{{> navbar}}
<!-- Carousel Start -->
{{> booking}}

{{> feature}}

{{> about}}

{{> fact}}

{{> service}}

{{> car}}

{{> testimonial}}
{{>footer}}